<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @staff.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @staff.name %><br />
      <strong>URL</strong>  <%= link_to staff_path(@staff), @staff %>
    </td>
  </tr>
</table>